<%= render  "notes/shared/back" %>
<h1 class="mt-2"> 
    <%= @note.title %> 
</h1>
<h6 class="mb-3 text-muted">
    por
    <%= link_to profile_path(@note.user) do %>
        <%= @note.user.nickname %>
    <% end %>
</h6>
<div> <%= @note.description %> </div>

<%= link_to edit_note_path(@note) do %>
    <button class="btn btn-indigo-rounded"> 
        <i class="fas fa-pencil-alt"></i>
    </button> 
<% end %>
