<% notes.each do |note|%>
<div>
    <div> <%= note.title %> </div>
    <div> <%= note.description %> </div>
    
    <%= link_to edit_note_path(note) do %>
        edit
    <% end %>
    <%= link_to note_path(note) do %>
        show
    <% end %>
     <%= link_to note_path(note), method: :delete do %>
        delete
    <% end %>
</div>
<br>
<% end %>